.menu{
    position: sticky;
    top: 0;
}
nav{
    background-color: black;
    padding: 14px 0px;
}
nav a{
    text-decoration: none;
    color: white;
    padding: 14px 20px;
}
nav a:hover{
    color: black;
    background-color: red;
    transition: .4s;
}